.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.asteroidSection {
  display: flex;
  gap: 12.7rem;
}

.pageTitleContainer {
  width: 37.5rem;
  align-self: flex-start;
  padding: 1.6rem;
  margin-bottom: 1.5rem;
}

.pageTitle {
  color: var(--color-secondary);
  text-transform: uppercase;
  font-size: 3.2rem;
  font-family: var(--font-secondary);
}

.pageTitleDesc {
  color: var(--color-primary);
  font-size: 1.6rem;
  line-height: 2.4rem;
}

@media (max-width: 67.5em) {
  .asteroidSection {
    gap: 5.8rem;
  }
}

@media (max-width: 62.5em) {
  .earthImage {
    margin-left: -10rem;
  }
}

@media (max-width: 56.25em) {
  .earthImage {
    margin-left: -20rem;
  }
}

@media (max-width: 50em) {
  .earthImage {
    margin-left: -30rem;
  }
}

@media (max-width: 43.75em) {
  .earthImage {
    margin-left: -33rem;
  }
}
