.cartPage {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.cartItems {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  overflow-y: scroll;
  max-height: 57rem;
  overflow-x: hidden;
}

.cartInfo {
  font-size: 2.8rem;
}

.cartItems::-webkit-scrollbar {
  width: 3px;
}

.cartItems::-webkit-scrollbar-track {
  border-radius: 20px;
  background: var(--background-color);
}

.cartItems::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid var(--color-secondary);
}

@media (max-width: 32.5em) {
  .cartItems {
    max-width: 30rem;
  }
}

@media (max-width: 27.5em) {
  .cartItems {
    max-width: 27rem;
  }
}
