.container {
  background-color: var(--cart-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding: 1.6rem 6rem;
  gap: 3rem;
  border: 1px solid var(--color-secondary);
  position: relative;
}

.details {
  font-size: 1.8rem;
}

.buttonContainer {
  position: absolute;
  left: 4rem;
}

.button {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: 6px 20px;
  border-radius: 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 300ms ease-in-out 0ms;
  border: none;
  cursor: pointer;
}

.button:hover {
  opacity: 0.7;
}
